# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/


# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env
gradle/buildOutputCleanup.lock

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android
/.gradle
/build
/*/build
*.apk
*.aab
*.ap_
*.dex
local.properties

# Google services
app/google-services.json
/app/src/main/res/raw/template_cover_sheet.gdoc
/app/src/main/res/raw/template_custody_log.gdoc
/app/src/main/res/raw/template_declaration.gdoc
/app/src/main/res/raw/template_metadata.gdoc
/app/src/main/res/raw/template_table_of_exhibits.gdoc
/.kotlin/sessions/kotlin-compiler-9638920479695606041.salive
/.kotlin/sessions/kotlin-compiler-17912086832244052631.salive
/.kotlin/sessions/kotlin-compiler-8917211272754291513.salive


/.kotlin/sessions/kotlin-compiler-5349112573790488510.salive
/.kotlin/sessions/kotlin-compiler-13215732261968789333.salive
/.idea/caches/deviceStreaming.xml
/.kotlin/sessions/kotlin-compiler-7983376919953869927.salive
